{% extends "layout.html" %}
{% block piechart %}
          <section class="row text-center placeholders">
            <div class="col-lg-5 col-sm-3 placeholder">
                <div id="battery_chart">
                </div>
              <h4>Battery history</h4>
            </div>
            <div class="col-lg-5 col-sm-3 placeholder">
                <div id="tracked_app">
                </div>
              <h4>Application tracked</h4>
            </div>
          </section>
{% endblock %}
{% block configuration %}
<table class="table table-striped">
    <thead>
            <tr>
                <td>Application name</td>
                <td>Status</td>
                <td>Tracked</td>
            </tr>
    </thead>
    <tbody>
            {% for each in app_list %}
                <tr>
                    <td>{{each.appname}}</td>
                    {% if each.status == 1 %}
                    <td><input type="checkbox" readonly="true" name="status-checkbox" checked="checked" appname="{{each.appname}}"></td>
                    {% else %}
                    <td><input type="checkbox" readonly="true" name="status-checkbox" appname="{{each.appname}}"></td>
                    {% endif %}
                    {% if each.tracked == 1 %}
                    <td><input type="checkbox" name="track-checkbox" checked="checked" appname="{{each.appname}}"></td>
                    {% else %}
                    <td><input type="checkbox" name="track-checkbox" appname="{{each.appname}}"></td>
                    {% endif %}
                </tr>
            {% endfor %}

    </tbody>
</table>
{% endblock %}
