<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    -->

    <title>App Tracker Configuration</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <link href="../static/css/d3graph.css" rel="stylesheet">

    <!-- Switch component for this template -->
    <link href="../static/css/bootstrap-switch.min.css" rel="stylesheet">

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script>window.jQuery</script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- javascript for switch -->
    <script src="../static/js/bootstrap-switch.min.js"></script>
    <script src="../static/js/d3.v4.min.js"></script>
    <!-- switch and d3 graphs javascript -->
    <script src="../static/js/switch.js"></script>
    <script src="../static/js/d3graph.js"></script>
    
    <!-- http://stewartjpark.com/Flask-JSGlue/ -->
    {{ JSGlue.include() }}
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="#">Application Tracker Configuration Panel</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
            </li>
            <!-- to be developed
            <li class="nav-item">
              <a class="nav-link" href="#">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Export</a>
            </li>
            -->
          </ul>

        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <h1>Configuration Dashboard</h1>
          {% block piechart %}{% endblock %}
          <h2>Application Status</h2>
          <div class="table-responsive">
              {% block configuration %}{% endblock %}
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
