.line {
    fill: none;
    stroke: steelblue;
    stroke-width=10px;
}
.legend {                                                   
    font-size: 12px;                                          
}                                                           
rect {                                                      
    stroke-width: 2;                                          
}                                                           

