.table
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-td-buy
{
    color: #4CAF50;
}

.table-td-sell
{
    color: #F12923;
}

.table-currency
{
    text-align: right;
}

.table-currency-sum
{
    text-align: right;
    font-weight: bold;
}

.table-head-center
{
    text-align: center;
}

.table-header-shrink
{
    width: 5%;
    text-align: center;
}

.table-head-right
{
    padding-right: 10px;
    text-align: right;
}

.table-center-button
{
    text-align: center;
}

.table-buy-button
{
    text-align: center;
    background-color: #4CAF50;
    color: #FFFFFF;
}

.table-sell-button
{
    text-align: center;
    background-color: #F44336;
    color: #FFFFFF;
}

